<!DOCTYPE html>
<html lang="es">
<head>

<meta charsert="utf-8">

<title>Hola Mundo Ctrl </title>
<meta name="description" content="Curso Angular JS">
<meta name="viewport" content="width-device-width, initial-scale=1">
<script src="../node_modules/angular/angular.js"></script>
<script src="./app.js"></script>
</head>
<body ng-app="appMain" ng-controller="AppCtrl">
<form>

<p>
    <label for="inputName">Nombre</label>
<input id="inputName" type="text" ng-model="user.name"></input>
</p>

<p>
<button ng-click="borrar()">Borrar</button>

</p>

<p>

Bienvenido al curso de {{curso}}

Hola {{user.name}}

</p>
</form>

</body> 

</html>