<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">

<title>Hola Mundo Ctrl </title>
<meta name="description" content="Curso Angular JS">
<meta name="viewport" content="width-device-width, initial-scale=1">
<script src="../node_modules/angular/angular.js"></script>
<script src="./app.js"></script>
<script src="./appCtrl.js"></script>
</head>
<body ng-app="appMain" ng-controller="AppCtrl as $ctrl">
<form>

<p>
    <label for="inputName">Nombre</label>
<input id="inputName" type="text" ng-model="$ctrl.name"></input>

     
        <input type="checkbox" ng-model="all"> Selecccionar todo <br><br>
        
        <input type="checkbox" ng-checked="all">Volvo<br>
        <input type="checkbox" ng-checked="all">Ford<br>
        <input type="checkbox" ng-checked="all">Mercedes
        

        <select aria-label="ngSelected demo">
                <option>Hello!</option>
                <option id="greet" ng-selected="selected">Greetings!</option>
                <option value="A">AAA</option>
                <option value="B">BBB</option>
                <option value="C">CCC</option>
        </select>
      
        
</p>

<p>
<button ng-click="$ctrl.sumar()">añadir</button>

</p>

<p>



<p ng-repeat="el in $ctrl.array" >
    
{{$index}} {{el.nombre}}
</p> 



</p>
</form>

<ng-include src=" './piePagina.html' "></ng-include>    

</body> 

</html>